* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

input, textarea, button {
  outline: none;
}

button {
  background-color: #BFE1E1;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  color: black;
  text-decoration: none;
  margin: 15px auto;
  text-align: center;
}

button:hover {
  box-shadow: 0px 0px 0px 3px #BDBDBD;
}

.header {
  width: 100%;
  height: 70px;
  background-color: rgba(217, 218, 217, 0.5);
  flex: 0 0 auto;
}

.header_left {
  display: flex;
  margin-left: auto;
}

.pass:hover {
  /*transform: scale(1.1);*/
  cursor: pointer;
  transition: 1.5s;
}

.settings:hover {
  /*transform: scale(1.1);*/
  cursor: pointer;
  transition: 1.5s;
  margin-right: 10px;
}

.settings_img {
  margin-right: 20px;
}

.content {
  flex: 1 0 auto;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #7b7b7b;
  flex: 0 0 auto;
}

.footer_content {
  display: flex;
}
.footer_content_1 {
  width: 216px;
  height: 24px;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.39px;
  line-height: 32px;
  margin-left: 28px;
  margin-top: 10px;
  text-decoration: none;
}
.footer_content_2 {
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.39px;
  line-height: 32px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 28px;
  text-decoration: none;
}

.container {
  width: 1140px;
  position: relative;
}

.flex_center_hor {
  display: flex;
  justify-content: center;
}

.flex_center_vert {
  display: flex;
  align-items: center;
}

.logo {
  width: 65px;
  height: 65px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #5a5a5a;
  color: white;
  position: absolute;
  left: 0;
  text-transform: uppercase;
  text-decoration: none;
}

.title {
  font-size: 26px;
}

.header_link_1 {
  width: 223px;
  height: 70px;
  background-color: #bfe1e1;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-left: 90px;
  text-align: center;
  padding-top: 20px;
}

.header_link_2 {
  width: 223px;
  height: 70px;
  background-color: #bfe1e1;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-left: 20px;
  text-align: center;
  padding-top: 20px;
}

.main_section {
  flex-direction: column;
  margin: 30px 0;
}

.btn_big {
  background-color: #bfe1e1;
  border-radius: 10px;
  padding: 20px;
  font-size: 26px;
  color: black;
  text-decoration: none;
  margin: 10px 15px;
  min-width: 260px;
  text-align: center;
}

.btn_big:hover {
  box-shadow: 0px 0px 0px 3px #BDBDBD;
}

.btn_reg {
  background-color: #bfe1e1;
  border-radius: 10px;
  border: none;
  padding: 11px 60px;
  font-size: 24px;
  color: black;
  text-decoration: none;
  margin: 15px auto;
  width: 350px;
  text-align: center;
}

.form_reg, .form_login {
  display: flex;
  flex-direction: column;
}

.form_login input {
  background: #F7F7F7;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  width: 260px;
  height: 70px;
  margin: 10px 15px;
  font-size: 26px;
  padding: 0 10px;
  text-align: center;
}

.form_reg input {
  background: #F7F7F7;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  height: 40px;
  margin: 10px 5px;
  font-size: 16px;
  padding: 0 10px;
}

.form_reg input:focus {
  border: 3px solid #BDBDBD;
}

.form_reg span {
  margin: 0 84px 0 10px;
}

.form_reg_main {
  width: 710px;
  text-align: center;
}

.form_reg_sub {
  width: 290px;
  text-align: left;
  padding: 0 10px;
}

.form_reg_add {
  width: 350px;
  text-align: center;
}

.user_img {
  margin-bottom: 80px;
}

.page_title {
  width: 250px;
  height: 28px;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  margin-left: 100px;
  margin-top: 30px;
}

.tenant__longform {
  display: grid;
  margin-top: 30px;
  margin-left: 360px;
}
.tenant__longform_input {
  width: 712px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid #bdbdbd;
  background-color: #f7f7f7;
  padding-left: 11px;
  color: #8d8989;
  font-size: 16px;
  font-weight: 400;
}

.tenant__form_title {
  height: 19px;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
  margin-top: 20px;
}

.tenant__shortform {
  display: grid;
  grid-template-columns: repeat(2, 347px);
  grid-template-rows: repeat(14, 42px);
  grid-column-gap: 18px;
  margin-top: 20px;
  margin-left: 360px;
  margin-bottom: 71px;
}
.tenant__shortform_input {
  width: 347px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid #bdbdbd;
  background-color: #f7f7f7;
  color: #8d8989;
  font-size: 16px;
  font-weight: 400;
  padding-left: 11px;
}

.new__field_title {
  color: #9a9797;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.new__field {
  width: 224px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid #bdbdbd;
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 5px;
}

.btn_add {
  margin-right: 69px;
  margin-top: 70px;
  margin-bottom: 40px;
  background-color: #bfe1e1;
  border-radius: 10px;
  border: none;
  padding: 11px 60px;
  font-size: 24px;
  color: black;
  text-decoration: none;
  width: 350px;
  text-align: center;
}
.btn_add:hover {
  box-shadow: 0 0 5px #bfe1e1;
  /*transform: scale(1.1);*/
  cursor: pointer;
  transition: 1.5s;
}

.modal_window {
  width: 500px;
  height: 340px;
  background-color: #ffffff;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  margin-top: 200px;
}

.add__field {
  display: grid;
  grid-template-columns: repeat(1, 328px);
  grid-template-rows: repeat(3, 64px);
  grid-row-gap: 11px;
  margin-left: 80px;
  margin-top: 55px;
}
.add__field_input {
  width: 328px;
  height: 64px;
  border: 1px solid #e0e0e0;
  background-color: #f7f7f7;
  color: rgba(0, 0, 0, 0.44);
  font-size: 24px;
  font-weight: 400;
  padding-left: 79px;
}
.add__field_button {
  width: 160px;
  height: 50px;
  border-radius: 10px;
  background-color: #bfe1e1;
}
.add__field_button:hover {
  box-shadow: 0 0 5px #bfe1e1;
  /*transform: scale(1.1);*/
  cursor: pointer;
  transition: 1.5s;
}

.filter__menu {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  margin-left: 36px;
}
.filter__menu_h {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
.filter__menu_arrow {
  margin-right: 5px;
  width: 12px;
  height: 21px;
}

.filter_link {
  position: relative;
}
.filter_link:hover .filter {
  display: flex;
}

.filter {
  display: none;
  flex-direction: column;
  width: 270px;
  height: 590px;
  border: 1px solid #bdbdbd;
  position: absolute;
  background-color: #e5f5fa;
  margin-top: 36px;
}
.filter__header {
  width: 250px;
  height: 70px;
  display: flex;
  flex-direction: row;
}
.filter__header_h {
  width: 86px;
  height: 28px;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.48px;
  padding-left: 11px;
}
.filter__list {
  display: grid;
  grid-template-columns: repeat(2, 222px);
  grid-column-gap: 7px;
  grid-template-rows: repeat(14, 30px);
  margin-top: 15px;
  list-style-type: none;
  margin-bottom: 28px;
  padding-left: 11px;
}
.filter__list_item {
  width: 222px;
  height: 28px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #e0e0e0;
  background-color: #f5f5f5;
}
.filter__list_checkbox {
  margin-top: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid #bdbdbd;
  background-color: #f5f5f5;
}
.filter__button {
  width: 112px;
  height: 34px;
  margin-left: 80px;
  border-radius: 10px;
  background-color: #a6cdf2;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.36px;
  box-shadow: 0 0 5px #a6cdf2;
  /*transform: scale(1.1);*/
  cursor: pointer;
  transition: 1.5s;
}
.close_x {
  width: 19px;
  height: 19px;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  padding-left: 126px;
  text-decoration: none;
  padding-top: 19px;
}

.button_X {
  margin-left: 55px;
}

.filter__menu_button {
  width: 90px;
  height: 30px;
  border-radius: 25px;
  background-color: #bfe1e1;
  margin-right: 10px;
  color: #000000;
  font-size: 10px;
  font-weight: 400;
}
.filter__menu_button:hover {
  box-shadow: 0 0 5px;
  /*transform: scale(1.1);*/
  cursor: pointer;
  transition: 1.5s;
}

.delete_x {
  width: 8px;
  height: 20px;
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 900;
  line-height: 14px;
}

.table__checkbox {
  width: 22px;
  height: 22px;
  border: 1px solid #bdbdbd;
  background-color: #ffffff;
}

.table-sort {
  border-collapse: collapse;
}

.table_header {
  width: 129px;
  height: 44px;
  background-color: rgba(197, 192, 192, 0.84);
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.28px;
  border-right: 1px solid white;
}

.table_arrow {
  margin-left: 40px;
}

.table__content:hover {
  background-color: #eaf4e1;
}
.table__content_info {
  width: 129px;
  height: 40px;
  position: relative;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}
.table__content_info:first-child {
  border: 1px solid #e0e0e0;
}

.add__info {
  margin-top: 3px;
}
.add__info_1 {
  width: 129px;
  height: 30px;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid #e0e0e0;
}
.add__info_2 {
  color: #000000;
  padding-top: 10px;
  font-size: 12px;
  font-weight: 400;
}

.scroll_area {
  width: 1445px;
  height: 32px;
  border: 1px solid #828282;
  margin-top: 54px;
  margin-bottom: 74px;
  padding: 10px;
}

.scrollbar_track {
  width: 50px;
  height: 10px;
  border-radius: 50px;
  background-color: #6a6a6a;
  margin-left: 50px;
  overflow: auto;
  cursor: grab;
}

.financial__table {
  margin-left: 243px;
  margin-top: 96px;
  margin-right: auto;
}
.financial__table_title {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  grid-column-gap: 2px;
  list-style-type: none;
}
.financial__table_arrow {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  justify-content: center;
  margin-left: 99px;
}

.name_li {
  width: 260px;
  height: 50px;
  background-color: rgba(197, 192, 192, 0.84);
  text-align: left;
  padding-top: 15px;
  padding-left: 5px;
  cursor: pointer;
}

.subname {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.subname_li {
  width: 130px;
  height: 16px;
  color: #000000;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  letter-spacing: -0.4px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  cursor: pointer;
}

.finTable_arrow {
  cursor: pointer;
}

.financial__form {
  margin-left: 243px;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  grid-template-rows: repeat(12, 42px);
  border: 1px solid #e0e0e0;
}
.financial__form_data {
  height: 42px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-top: 1px solid #e0e0e0;
  cursor: text;
}

.financial__result {
  margin-left: 243px;
  margin-right: auto;
  margin-top: 1px;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  border: 1px solid #828282;
}
.financial__result_data {
  height: 42px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  border: none;
  cursor: text;
}

.wrap_for_search {
  margin-left: 983px;
  margin-top: 70px;
}

.wrap_for_search_1 {
  margin-left: 638px;
}

.search_area {
  width: 329px;
  height: 44px;
  border: 1px solid #bdbdbd;
  color: #c3c1c3;
  font-size: 17px;
  font-weight: 400;
  padding-left: 10px;
  position: relative;
}
.search_loop {
  margin-left: -40px;
  position: absolute;
  margin-top: 5px;
  border-left: 1px solid #bdbdbd;
}

.finTable__menu {
  display: flex;
  flex-direction: row;
  margin-left: 122px;
  margin-top: 30px;
}
.finTable__menu_link {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: underline;
}
.finTable__menu_arrow {
  text-decoration: none;
  margin-left: 7px;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.finTable__menu_company {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-left: 7px;
  cursor: pointer;
}

.finData {
  display: grid;
  grid-template-columns: 223px 468px;
  grid-template-rows: repeat(5, 42px);
  grid-column-gap: 19px;
  grid-row-gap: 16px;
  margin-left: 336px;
  margin-top: 89px;
}
.finData__title {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
}
.finData__form {
  width: 468px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid #bdbdbd;
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.paymentMenu {
  margin-left: 487px;
  margin-top: 85px;
  display: flex;
  flex-direction: row;
}
.paymentMenu__title {
  width: 223px;
  height: 40px;
  background-color: rgba(197, 192, 192, 0.84);
  list-style-type: none;
  margin-right: 20px;
  margin-bottom: 5px;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
  text-align: center;
}

.paymentMenu__arrows {
  display: flex;
  flex-direction: row;
  margin-left: 587px;
  list-style-type: none;
}
.paymentMenu__arrows_arrow {
  margin-right: 224px;
  cursor: pointer;
}

.personal__form {
  margin-left: 243px;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  grid-template-rows: repeat(4, 42px);
  border: 1px solid #e0e0e0;
}
.personal__form_data {
  height: 42px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-top: 1px solid #e0e0e0;
  cursor: text;
}

.wrap_for_field {
  margin-left: 243px;
  margin-bottom: 140px;
}

/*# sourceMappingURL=style.css.map */


.wrap__home {
  margin-top: 20px;
}

.wrap__home .wrap_form {
  margin-top: 0;
}

.wrap_form__caption {
  margin-bottom: 31px;
}

.wrap_dashboard .cell {
  min-width: 224px;
  min-height: 124px;
}

.wrap_dashboard .cell div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrap_dashboard .pointer {
  cursor: pointer;
}

.wrap_dashboard {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "cell_1  cell_1  cell_2  cell_2 " "cell_3  cell_3  cell_3  cell_3 " "cell_4  cell_5  cell_5  cell_5 " "cell_4  cell_5  cell_5  cell_5 ";
}

.wrap_dashboard p {
  font-size: 18px;
}

.wrap_dashboard h2 {
  font-size: 70px;
  margin-bottom: 0;
}

.wrap_dashboard h4 {
  font-size: 40px;
}

.wrap_dashboard h5 {
  font-size: 32px;
}

#wrap_grid_1 {
  grid-area: cell_1;
}

#wrap_grid_2 {
  grid-area: cell_2;
}

#wrap_grid_3 {
  grid-area: cell_3;
}

#wrap_grid_4 {
  grid-area: cell_4;
}

#wrap_grid_5 {
  grid-area: cell_5;
}

.wrap_grid__column {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "cell_41" "cell_42";
}

#wrap_grid_41 {
  grid-area: cell_41;
  height: 160px;
}

#wrap_grid_42 {
  grid-area: cell_42;
  height: 103px;
}

.wrap_grid__table {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "cell_51 cell_52 cell_52" "cell_53 cell_53 cell_54";
}

#wrap_grid_51 {
  grid-area: cell_51;
}

#wrap_grid_52 {
  grid-area: cell_52;
}

#wrap_grid_53 {
  grid-area: cell_53;
}

#wrap_grid_54 {
  grid-area: cell_54;
}

.grid_fill {
  height: 100%;
  width: 100%;
}

.grid_button {
  height: 40px;
  width: 100%;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  background: #BFE1E1;
}
.tenant_string{
  display: flex;
}